/* red boxes to see the placings */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1125px;
    min-width: 1125px;
    margin: auto;
    font-family: 'Roboto', sans-serif;

}

/* header, hero and footers/ adding colors, text adjustings*/

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 120px;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* inside hero container, awesome paragraph,button and image*/

.inner-left-container {
    display: flex;
    margin-top: 50px;
    gap: 35px;
}

.awesome-container {
    display: flex;
    flex-direction: column;
}

.awesome-container #awesome-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
}

.awesome-container p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
    margin-bottom: 10px;
}


img {
    padding: 50px 200px;
    background-color: gray;
}

/* random information area/ adding colors, text adjustings*/

.some-random-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 670px;
    margin-bottom: 50px;
}

.random-boxes {
    padding: 70px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 5px;
}

.box-container p {
    max-width: 146px;
    text-align: center;
    margin-top: 5px;
}

h2 {
    font-size: 36px;

    color: #1f2937;
}

/*button mod*/

button {
    font-size: 18px;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 5px 20px;
    max-width: 120px;
    border: none;
}



/* moving things around, place it in right area after adjusting */

.quote-container {
    background-color: #E5E7EB;

}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}